:root{
    --primary-color:#006766;
    --secondry-color:#E4F8F7;
    --secondry-1-color:#BFD9D8;
    
    --service-icon1-color:#5146C8;
    --service-icon2-color:#006766;
    --service-icon3-color: #1AC2FF;
    --service-icon4-color:#FF6D31;
}

$--bp-big:71.875em;
$--bp-medium-big:62.875em;
$--bp-small-big:54.625em;
$--bp-small:54.75em;
$--bp-small-1:48.375em;
$--bp-small-2:51.8125em;
$--bp-small-3:33.75em;
$--bp-small-4:27.25em;
$--bp-small-5:22.75em;
$--bp-small-6:25.6875em;
$--bp-small-7:20em;




*{
    padding: 0;
    margin: 0;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
        @media only screen and (max-width:$--bp-medium-big){
   background-color: var(--secondry-1-color);
  }
}


/////////////////////THIS IS THE NAVIGATION AND LOGO AREA
.navigation{
    display: flex;
    margin: 3rem auto;
  
  
    &__tag{
        width: 4rem;
        height: 4rem;
        margin-left: 2rem;
        fill: var(--primary-color);
       

    }

    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
   
        color: var(--primary-color);

    }


/*THERE ARE SOME ERROR IN CODE AND LOOKING FOR AJUSTMENT
    &__list{
        display: flex;
        list-style: none;

    }

    &__item{
        margin: auto 1.50em;
        font-size: 2rem;
        text-decoration: none;
        color: var(--primary-color);

    }

 
   &__item:hover{
        color: black;
        -webkit-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
        box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);

    }*/
   

  &__button{ margin: auto 50rem;
    @media only screen and (max-width:$--bp-small-2){
    margin-left:72em;       
    }
    }

    &__btn{
        outline: none;
        border: none;
        background-color: var(--primary-color);
        color: white;
        width: 10rem;
        height: 3.50rem;
        cursor: pointer;
        

    }

    &__btn:active{
        color: black;
        -webkit-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
        box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);

    }
    
    &__btn:hover{
      background-color: var(--secondry-1-color);
      color: black;

    }
}
///////////////////THIS IS THE FIRST DISPLAY TEXT AREA
.display-text{      
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.60rem;
        flex-direction: column;
        margin-bottom: 10rem;
        color: var(--primary-color);
         
@media only screen and (max-width:$--bp-small-2){
    width: 147vw;
            
}
@media only screen and (max-width:$--bp-small-5){
    width: 250vw;
    margin-left:0em;
         
}
@media only screen and (max-width:$--bp-small-6){
    width: 220vw;
    margin-left:0em;     
}
}
////////////////////////////THIS IS ALL THE NAVIGATION TO CHOOSE PROPERTY WITH WHITE BACKGROUND
.container-main-viwe{
        background-image:url(/img/main-view.jpg);
        height: 80vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        margin: 2.50rem;
        border-radius: 2rem;
@media  only screen and (max-width:$--bp-big){
    height: 70vh;
    margin-right: 0;
    margin-left: 0;
            
}
@media only screen and (max-width:$--bp-medium-big){
    width: 100vw;
    margin-left: 6.20em;
}

@media only screen and (max-width:$--bp-small-2){
    width: 147vw;
    margin-left:0em;
          
}

@media only screen and (max-width:$--bp-small-3){
    width: 169vw;
    margin-left:0em;
           
                  
}
@media only screen and (max-width:$--bp-small-4){
    width: 199vw;
    margin-left:0em;
                   
}
@media only screen and (max-width:$--bp-small-5){
    width: 250vw;
    margin-left:0em; 
          
}
@media only screen and (max-width:$--bp-small-6){
    width: 213vw;
    margin-left:0em;
          
}
@media only screen and (max-width:$--bp-small-7){
    width: 273vw;
    margin-left:0em;
          
}
}

.purchase{
        display: flex;
        flex-direction:row;
        justify-content:center;
        align-items: center;
        margin-top: 4rem;
        background-color:white;
        width: 80rem;
        height: 7rem;
        margin: 5rem auto;
        border-radius: .9rem;
        transform: translateY(-3.50rem);
        -webkit-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);

        &__form{
            display: flex;
            padding-right: 2rem;
            font-size: 2rem;
            font-weight: bold;
        }

        &__label{
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            color: rgba(0, 0, 0, 0.781);
        }

        &__tag{
            display: flex;
            flex-direction:row;
            width: 3rem;
            height: 3rem;
            fill:  rgba(0, 0, 0, 0.658);
        }

        &__span{
            display: flex;
            flex-direction:column;
            color: rgba(0, 0, 0, 0.658);
        }

        &__btn{
            flex-direction:row;
            width: 9rem;
            height: 5rem;
            border-radius: .6rem;
            font-weight: bold;
            font-size: 1.50rem;
            margin-left: 3rem;
            border: none;
            background-color: var(--primary-color);
            color: white;
            cursor: pointer;
            outline: none;
            
        }

        &__btn:active{
            color: black;
        }

        &__hr{
            display: flex;
            flex-direction:row;
            margin-right: 3rem;
            margin-left: 2rem;
        }
}

.featured{
        &__main{
            display: flex;
            margin-left: 8rem;
            font-size: 2rem;
        @media  only screen and (max-width:$--bp-big){
            font-size: 3.30em;
        }
        @media only screen and (max-width:$--bp-small-big){
            margin: 0;             
        }
        @media only screen and (max-width:$--bp-small-2){
            flex-direction: column;
            margin-left:2em;
            margin-top: 2em;
            margin-bottom: 0; 
        }
        @media only screen and (max-width:$--bp-small-5){
            width: 250vw;
            margin-left:0em;
        }
        @media only screen and (max-width:$--bp-small-6){
            width: 213vw;
            margin-left:0em;
                               
                                      
        }
        }

        &__main-text{
            color: var(--primary-color);
        }

        &__button{ margin: auto 10rem;
           
            @media only screen and (max-width:$--bp-small-big){
                margin-left: 0;
               
            }   
        }

        &__btn1{
            border: none;
            outline: none;
            width: 12rem;
            height: 4.50rem;
            background-color: var(--primary-color);
            border-radius: 1rem;
            color: white;
            font-weight: bold;
            cursor: pointer;

      
        @media only screen and (max-width:$--bp-small-big){
            margin-left:0em;
        }
        }
        &__btn1:active{
            color: black;
        }

        &__btn2{
            border: none;
            outline: none;
            width: 12rem;
            height: 4.50rem;
            background-color:rgba(0, 0, 0, 0.096);
            border-radius: 1rem;
            color: black;
            font-weight: bold;
            cursor: pointer;

        }

&__btn2:active{
    color:white;
}
}

.product{
        display: flex;
        justify-content: space-around;
      
&__body{
    background-color: rgba(0, 0, 0, 0.014);
    border-radius: 1rem;
    -webkit-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
   
}

&__icon{
     display:flex;

}

&__img-main{
    width: 25rem;
    height: 25rem;
    border-radius: 1rem;
    @media only screen and (max-width:$--bp-small-1){
       width: 60em;
       height: 30.90em;
}

}


&__name{
    font-size: 1.30rem;
    color: var(--primary-color);
    margin:1rem 1rem;
    @media only screen and (max-width:$--bp-small-1){
        font-size: 5em;
    }

}


&__price{
    padding-left: 7rem;

}


&__link{
    width: 1rem;
    height: 1rem;
   

}

&__tag{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    fill: var(--primary-color);
   @media only screen and (max-width:$--bp-small-1){
       width: 4em;
       height: 4em;
    }
}

&__tag-number{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--primary-color);
    @media only screen and (max-width:$--bp-small-1){
        font-size: 3em;
    }

}


&__hr{
    height: 2rem;
    margin-right: 5px;
    margin-left: 5px;
    color: var(--primary-color);
    @media only screen and (max-width:$--bp-small-1){
        height: 3em;
    margin-right: 1em;
    margin-left: 1em;
}
}


&__location{
    display: flex;
    margin-top: 1rem;
    
}


&__location-tag{
   display: flex;
}

&__location-icon{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    fill: var(--primary-color);
    @media only screen and (max-width:$--bp-small-1){
        height: 3em;
        width: 3em;
    }
    
}

&__tag-location-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    color: var(--primary-color);
    @media only screen and (max-width:$--bp-small-1){
         font-size: 2em;
         margin-right: 10em;
        }

}

&__last-tag{
    display: flex;
   transform: translateX(2rem);

}


&__tag-img{
    width: 2.50rem;
    height: 2.50rem;
    border-radius: 5rem;
    object-fit: cover;
    padding: auto 2rem;
    @media only screen and (max-width:$--bp-small-1){
        height: 5em;
        width: 5em;
    }

}

&__tag-img-number{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5rem;
    width: 2.50rem;
    height: 2.50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


&__tag-img2{
    transform: translateX(-1rem);
    
}

&__tag-img3{
    transform: translateX(-2rem);
    
}

&__tag-img4{
    transform: translateX(-2.50rem);
    border: white solid 3px;
    
}

}

.product-btn{
    border: var(--primary-color) solid 2px;
    outline: none;
    width: 13rem;
    height: 4rem;
    margin-top:3rem;
    margin-left: 57rem;
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer; 
  
}

.product-btn:active{
    color:black;
    -webkit-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
     
}

.service-headline{
    margin-left: 6.30rem;
    @media  only screen and (max-width:$--bp-big){
        margin-left:1em;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media only screen and (max-width:$--bp-small){
        margin-left: 28em;      
    }
    @media only screen and (max-width:$--bp-small-5){
        width: 250vw;
        margin-left:0em;         
        }
      
&__heading{
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 15rem;
    @media  only screen and (max-width:$--bp-big){
        font-size: 4.50em;
    }

}

&__paragraph{
    font-size: 1.50rem;
    color: var(--primary-color);
    margin-bottom:5rem;
    margin-top:3rem;
    width: 45rem;
    @media  only screen and (max-width:$--bp-big){
        font-size: 2.30em;
        width: 40em;
        text-align: center;
    }
    @media only screen and (max-width:$--bp-small-3){
        width: 169vw;
        margin-left:3.30em;
        width: 30em;
       
    }

}
}

.services{
        margin:auto 5rem;
        display: flex;
        @media  only screen and (max-width:$--bp-big){
           flex-direction: column;
        }
        @media only screen and (max-width:$--bp-small){
           margin-left: 12em;
                    
        }
}

.content-right{
&__value{
    display: flex;
    margin-right: 20rem;
    @media  only screen and (max-width:$--bp-big){
     margin-right: 0;
    }
    
}

&__value1{ 
    background-color: rgba(0, 0, 0, 0.014);
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
    margin: 2rem;
    @media  only screen and (max-width:$--bp-big){
        width: 50em;
        height: 20em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

&__va1{ 
-webkit-box-shadow: -1px 2px 23px 6px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 23px 6px rgba(0,0,0,0.75);
box-shadow: -1px 2px 23px 6px rgba(0,0,0,0.75);
}

&__va{
-webkit-box-shadow: -1px 2px 14px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 14px -5px rgba(0,0,0,0.75);
box-shadow: -1px 2px 14px -5px rgba(0,0,0,0.75);
}

&__icon{
    width: 3rem;
    height: 3rem;
}

&__icon1{
    background-color:var(--service-icon1-color);
    border-radius: 5px;
    margin:1rem;
    padding: 4px;
}

&__icon2{
    background-color:var(--service-icon2-color);
    border-radius: 5px;
    margin:1rem;
    padding: 4px;
}

&__icon3{
    background-color:var(--service-icon3-color);
    border-radius: 5px;
    margin:1rem;
    padding: 4px;
}

&__icon4{
    background-color:var(--service-icon4-color);
    border-radius: 5px;
    margin:1rem;
    padding: 4px;
}

&__icon-main{    
    fill: white;
}

&__head1{
    font-size: 1.50rem;
    margin: 1rem 1rem;
    color: var(--primary-color);
    @media  only screen and (max-width:$--bp-big){
        font-size: 2em;
    }

}

&__paragraph1{
    color: var(--primary-color);
    margin: 1rem 1rem;
    font-size: 1.20rem;
    @media  only screen and (max-width:$--bp-big){
        font-size: 2em;
     }

}

}

.content-left{
    background-image: url(/img/main-view2.jpg);
    background-position: top;
    background-size: cover;
    object-fit: cover;
    height: 85vh;
    width: 70vw;
    margin-left:4rem;
    margin-bottom: 10rem;
    transform: translateY(-16rem);
    border-radius: 2rem;
    -webkit-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);

        @media  only screen and (max-width:$--bp-big){
            margin-top: 20em;
            height: 65vh;
            width: 85vw;
            background-image: url(/img/main-v3.jpg);
            background-position: center;
            margin-bottom: 5em;
        }
        @media only screen and (max-width:$--bp-small){
            width: 130vw;
            margin-left: 0em;
            margin-right: 4em;        
        }
        @media only screen and (max-width:$--bp-small-5){
            display: none;         
        }

    &__icon{
        width: 5rem;
        height: 5rem;
        display: flex;
        
    }

    &__icon1{
        fill: orangered;
        transform: translateX(41rem);

    }

    &__icon2{
        fill: red;
        width: 5rem;
        height: 5rem;
        background-color: black;
        border-radius: 5rem;
        transform: translateY(42rem);
        border-radius: 5rem;
       
    }
}

.choose-us{
    display: flex;
    @media  only screen and (max-width:$--bp-big){
        margin-bottom: 7em;
    }
    @media only screen and (max-width:$--bp-small-1){
        flex-direction: column;
    }
    
&__img{
    background-color: var(--service-icon3-color);
    height: 30rem;
    width: 50rem;
    transform: translateX(-3rem);
    @media only screen and (max-width:$--bp-small-1){
      width: 90em;
    }
}
&__main-img{ 
    width: 50rem;
    height: 40rem;
    padding-left: 10rem;
    padding-top: 5rem;
    @media only screen and (max-width:$--bp-small-1){
        width: 70em;
    }
    
    }

&__cotente{
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    
    @media  only screen and (max-width:$--bp-big){
        margin-left: 7.50em;
 
    }

    @media only screen and (max-width:$--bp-small-1){
        margin-top: 20em;
        
        margin-left: 18em;
    }

}

&__head{
    margin-left: 2.70rem;
    @media  only screen and (max-width:$--bp-big){
        margin-left:3em;
        
       
    }
}

&__heading{
   font-size:4rem;
   @media  only screen and (max-width:$--bp-big){
   font-size: 5em;
   }
}

&__paragraph{
    width:30rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 12px;
    @media  only screen and (max-width:$--bp-big){
        font-size: 2.30em;
        width: 20em;
        
    }

}

&__main-content{
    display: flex;

}

&__main-content:hover{
    background-color: rgba(0, 0, 0, 0.014);
    width: 30vw;
    border-radius: 1rem;
    -webkit-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
    @media  only screen and (max-width:$--bp-big){
        width: 40em;
        
    }
}

&__main-content1{
    display: flex;
    margin: 3rem;
    width: 30rem;
    font-size: 1.10rem;
    @media  only screen and (max-width:$--bp-big){
       width: 35em; 
    }

    @media only screen and (max-width:$--bp-small-1){
    }

}

&__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

&__text-focus{
    background-color: rgba(0, 0, 0, 0.014);
    width: 25vw;
    height: 10rem;
    border-radius: 1rem;
    -webkit-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 22px -7px rgba(0,0,0,0.75);
    @media  only screen and (max-width:$--bp-big){
        font-size:1.30em;
        width: 30.50em;
        height: 10.30em;
        
    }
}

&__icon{
    width: 4rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-top: 1rem;
}

&__icon1{
    background-color: rgba(255, 68, 0, 0.212);
    fill:orangered;
    border-radius:3rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 3rem;
}

&__icon2{
    background-color:#1ac2ff6e;
    fill: var(--service-icon3-color);
    border-radius: 5rem;
    padding: 1rem;
}

&__icon3{
    background-color: rgba(0, 128, 0, 0.315);
    fill: green;
    border-radius: 5rem;
    padding: 1rem;
}

&__main-content-head{
    font-size: 1.30rem;
    margin-bottom: 6px;
    @media  only screen and (max-width:$--bp-big){
        font-size: 2em; 
    }
    

}

&__main-content-paragraph{
    line-height:15px;
}
}

.adorable{
    display: flex;
    margin: 1rem auto;
    background-color:var(--secondry-color);
    height: 65vh;
    width: 85vw;
    border-radius: 3.50rem;
    @media  only screen and (max-width:$--bp-big){
        height: 50vh;}
    @media only screen and (max-width:$--bp-small){
        width: 130vw;
        margin-left: 7em; 
    }

    @media only screen and (max-width:$--bp-small-3){
        width: 169vw;
        margin-left:0em;
                   
                          
    }
    @media only screen and (max-width:$--bp-small-4){
        width: 199vw;
        margin-left:0em;
           
                  
    }
    @media only screen and (max-width:$--bp-small-5){
        width: 250vw;
        margin-left:0em;          
    }
    @media only screen and (max-width:$--bp-small-6){
        width: 213vw;
        margin-left:0em;
    }

    @media only screen and (max-width:$--bp-small-7){
        width: 273vw;
        margin-left:0em;
        height: 50em;
              
    }
    
}


.content-adorable-right{
    
margin-top: 2rem;
margin-left: 2rem;
color: var(--primary-color);

&__head{
    font-size: 3.50rem;
    margin-bottom:2rem;
}

&__icon{
    margin-right: 1rem;
    margin-bottom: 2rem;
}

&__paragraph{
    font-size: 1.50rem;
    line-height: 3rem;
    width: 45rem;
    margin-bottom: 2.50rem;
}

&__customer-name{
    font-size: 1.50rem;
    margin-bottom: 1rem;
}

&__customer-job{
    margin-bottom: 1rem;
}

&__btn{
    width: 2.50rem;
    height: 2.50rem;
    margin:auto 1rem;
    fill: rgba(0, 128, 0, 0.541);
    cursor: pointer;
    @media  only screen and (max-width:$--bp-big){
        margin-top: 7em;  
}
}

&__btn1:active{
    transform: translateX(-1rem);
    transition: all .2s;
}

&__btn2:active{
    transform: translateX(1rem);
    transition: all .2s;
}

&__btn:hover{
    fill: var(--primary-color);
}

&__icon{
    width: 2.50rem;
    height: 2.50rem;
    fill: gold;
}
}

.left-content{
    background-image: url(/img/icon-image-3.jpg);
    background-size: cover; 
    background-position:center;
    object-fit: cover;
    border-radius: 3rem;   
    width: 45vw;
    @media only screen and (max-width:$--bp-small-4){
        width: 59vw;
    }
    @media only screen and (max-width:$--bp-small-5){
        width: 200vw;           
    }
    @media only screen and (max-width:$--bp-small-6){
        width: 110vw;
        margin-left:0em;        
    }
          


&__img{
width: 6rem;
height: 6rem;
fill: var(--primary-color);
background-color: white;
padding: 1rem;
border-radius: 2.50rem;
transform: translateX(-5rem);
margin-top: 25rem;
}
}

.subsription{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    background-image: linear-gradient(to right bottom, var(--primary-color), var(--secondry-1-color));
    width: 85vw;
    margin-top: 10rem;
    margin-left: 7rem;
    margin-right: 1rem;
    border-radius: 3rem;
    @media  only screen and (max-width:$--bp-big){
        height: 40vh;
    }
    @media only screen and (max-width:$--bp-small){
        width: 130vw;        
    }
    @media only screen and (max-width:$--bp-small-3){
        width: 169vw;
        margin-left:0em;                             
    }
    @media only screen and (max-width:$--bp-small-4){
        width: 199vw;
        margin-left:0em;      
    }
    @media only screen and (max-width:$--bp-small-5){
        width: 250vw;
        margin-left:0em;          
    }
    @media only screen and (max-width:$--bp-small-7){
        width: 273vw;
        margin-left:0em;
        height: 30em;
    }
    
    

&__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

&__head{
    width: 60rem;
    text-align: center;
    font-size: 4rem;
    color: var(--primary-color);
}

&__input{
    width: 45rem;
    height: 5rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.582);

}

&__input:invalid{
    border-bottom:red  solid 3px;

}

&__input:valid{
    border-bottom:var(--primary-color)  solid 3px;

}

&__btn{
    height: 3.30rem;
    width: 12rem;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    border-radius: 1rem;
    transform: translateX(-15rem);

}

&__btn:active{
    color: black;

}

&__form{
    margin-left: 8rem;
}
}

.footer{
    background-color: var(--primary-color);
    height: 30rem;
    font-size: 1.50rem;
    margin-top: 10rem;
    margin-bottom: 0;
    line-height: 3.50rem;
            @media only screen and (max-width:$--bp-medium-big){
             background-color: var(--secondry-1-color);
      
            }
            @media only screen and (max-width:$--bp-small){
                 width: 140vw;   
            }
            @media only screen and (max-width:$--bp-small-5){
                 width: 250vw;
                 margin-left:0em;
               
            }
            @media only screen and (max-width:$--bp-small-6){
                 width: 213vw;
                 margin-left:0em;
                      
            }
            @media only screen and (max-width:$--bp-small-7){
                 width: 273vw;
                 margin-left:0em;
                      
            }
            
    
&__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-top: 2rem;
    padding-left: 5em;
    
}

&__item{
    text-decoration: none;
    color: var(--secondry-1-color);
         @media only screen and (max-width:$--bp-medium-big){
              color: black;
        }
        }

&__item:hover{
    color:black;
}

&__item:active{
    color:var(--service-icon4-color);
}


&__list{
    list-style:none;  
}

&__icon{
    width: 3rem;
    height: 3rem;
    fill: var(--secondry-1-color);
    margin: 1rem;
}
}

.last{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}